$border-radius: 1rem;
$padding: 2rem;
$width: 25rem;

$clr-red: rgb(247, 120, 107);
$clr-brown: rgb(177, 115, 108);
$clr-yellow: rgb(255, 206, 75);
$clr-blue: rgb(88, 170, 246);
$clr-green: rgb(79, 193, 166);
$clr-pink: rgb(248, 144, 200);
$clr-purple: rgb(124, 83, 140);
$clr-gray: rgb(160, 160, 160);
$clr-white: rgb(240, 240, 240);
$clr-gold: rgb(165, 124, 0);
$clr-silver: rgb(192, 192, 192);
$clr-crystal: rgb(136, 157, 214);
$clr-ruby: rgb(224, 17, 95);
$clr-sapphire: rgb(15, 82, 186);
$clr-emerald: rgb(80, 200, 120);
$clr-firered: rgb(241, 80, 38);
$clr-leafgreen: rgb(166, 204, 59);
$clr-pearl: rgb(142, 87, 142);
$clr-diamond: rgb(68, 144, 157);
$clr-platinum: rgb(229, 228, 226);
$clr-heartgold: rgb(254, 221, 81);
$clr-soulsilver: rgb(192, 192, 192);
$clr-black: rgb(20, 20, 20);

*,
*:after,
*:before {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(200, 200, 200);
    line-height: 1.4;
    color: rgb(75, 75, 75);
}

svg {
    color: inherit;
}

button {
    text-decoration: none;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: inherit;
    font-family: inherit;
    font-style: inherit;
    padding: 0;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin Card {
    display: flex;
    flex-direction: column;
    border-radius: $border-radius;
    box-shadow: 5px 5px 10px 4px rgba(black, 0.1);
    width: $width;
    height: 44.1rem;
}

@mixin Nav {
    padding: 1rem $padding;
    display: flex;
    justify-content: space-between;
    & * {
        width: 20px;
        color: inherit;
        cursor: pointer;
        transform: scale(1);
        transition: 300ms;
        &:hover {
            transform: scale(1.1);
        }
    }
}
