.home {
    @include Card;
    // background-color: rgb(230, 230, 230);
    background-color: white;
    padding: 2rem;
    position: relative;
    overflow: hidden;
}

.home__container {
    background-color: white;
    height: 80%;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px 4px rgba(black, 0.1);
    padding: 2rem;
}
.bg {
    z-index: 1;
    pointer-events: none;
}
.bg svg {
    z-index: inherit;
    width: 300px;
    height: 300px;
    color: rgba(rgb(0, 0, 0), 0.05);
    pointer-events: none;
}
.pokeball {
    position: absolute;
    top: -50px;
    right: -50px;
}
.pokeball svg {
    transform: rotate(40deg);
}
.pikachu {
    position: absolute;
    bottom: -120px;
    left: -10px;
}
.pikachu svg {
    transform: rotateY(180deg);
}

.home__buttons {
    z-index: 2;
    margin-top: 2rem;
    display: flex;
    gap: 1.2rem;
    flex-direction: column;
    align-items: center;
    p {
        text-align: justify;
    }
}

#copyright {
    position: absolute;
    bottom: 0.5rem;
    font-size: 0.75rem;
}
