.pokedex {
    @include Card;
    background-color: white;
    &__nav {
        @include Nav;
    }
}

.pokedex__list>div {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px;
}

.pokedex__list{
    padding: $padding;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px;
    overflow-y: auto;
    /* scrollbar hide */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    &::-webkit-scrollbar {
        /* WebKit */
        width: 0;
        height: 0;
    }
    scroll-snap-type: y mandatory;
}

.pokedex__pokemon {
    scroll-snap-align: start;
    height: 150px;
    background-color: var(--bg-color);
    display: grid;
    grid-template-columns: 4fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    &__img-c {
        display: flex;
        grid-column: span 2;
        align-items: center;
        justify-content: center;
    }
}
