.pokemon-card {
    $padding: 2rem;
    $width: 25rem;
    display: flex;
    flex-direction: column;
    width: $width;
    background-color: var(--bg-color);
    border-radius: $border-radius;
    box-shadow: 5px 5px 10px 4px rgba(black, 0.1);
    &__nav {
        padding: 1rem $padding;
        display: flex;
        justify-content: space-between;
        & * {
            width: 20px;
            color: inherit;
            cursor: pointer;
            transform: scale(1);
            transition: 300ms;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    &__hero {
        padding: 0 $padding;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: baseline;
        &__pokemon-id {
            text-align: right;
            font-family: "Courier New", Courier, monospace;
            font-weight: 700;
            &:before {
                content: "#";
            }
        }
        &__pokemon-types-c {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
        }
        &__pokemon-types-i {
            font-size: 0.7rem;
            font-weight: 600;
            letter-spacing: 1px;
            text-transform: uppercase;
            display: block;
            background-color: rgba(white, 0.4);
            color: rgba(black, 0.6);
            padding: 0.3rem 1rem;
            border-radius: 0.8rem;
        }
    }
    &__image-c {
        width: 100%;
        height: 11rem;
        position: relative;
        &:before {
            content: "";
            height: 200px;
            width: 200px;
            background-color: rgba(white, 0.1);
            position: absolute;
            border-radius: 50%;
            left: 50%;
            transform: translate(-50%, 0%);
        }
    }
    &__image-i {
        width: calc(#{$width} * 0.6);
        left: 50%;
        bottom: -30%;
        transform: translateX(-50%);
        position: absolute;
    }
    &__body {
        line-height: 2;
        font-size: var(--font-size);
        text-align: justify;
        height: 24rem;
        background-color: white;
        border-radius: $border-radius;
        padding: $padding;
        &__nav {
            margin-top: 2rem;
            margin-bottom: 1rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        &__nav-i {
            color: rgba(black, 0.4);
            cursor: pointer;
            border-bottom: var(--underline);
            &:hover {
                border-bottom: solid 3px rgba(black, 0.1);
            }
        }
        &__weight {
            display: grid;
            grid-template-columns: 1fr 3fr 1fr 3fr;
            align-items: center;
            padding-top: 1rem;
            margin: 1rem 0;
            border-top: 1px solid rgba(black, 0.05);
            & p:first-of-type {
                color: $clr-gray;
                font-size: 0.8rem;
            }
            & svg {
                margin-right: -2rem;
            }
        }
        &__stats {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
            margin-top: 2rem;
        }
        &__stat {
            padding: 0.6rem 0.7rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 1rem;
            background-color: var(--bg-color);
            border-radius: 0.5rem;
            &--total {
                grid-column: span 2;
                text-align: right;
                display: block;
                padding: 0 0.5rem;
                font-weight: 700;
            }
            & p:nth-of-type(2) {
                font-weight: 700;
            }
        }
        &__evolutions {
            display: flex;
            flex-direction: column;
            margin-top: 1.5rem;
            gap: 1rem;
        }
        &__evolution {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            gap: 0.5rem;
            & svg {
                width: 40px;
                color: rgba(black, 0.1);
            }
            &__pokemon {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                transition: 300ms;
                & p {
                    margin-top: -1rem;
                }
                cursor: pointer;
                background-color: rgba(black, 0.05);
                border-radius: 1rem;
                &:hover {
                    background-color: rgba(black, 0.15);
                }
            }
            & div:nth-of-type(2) p {
                margin-top: 0;
                margin-bottom: -1rem;
                color: rgba(black, 0.4);
                font-weight: 700;
            }
        }
        &__gen {
            display: grid;
            grid-template-columns: repeat(5, 63px);
            gap: 0.5rem;
            align-items: center;
            justify-content: center;
            &-c {
                display: flex;
                flex-direction: column;
                // background-color: rgba($clr-black, 0.02);
                // border: 2px solid rgba($clr-black, 0.05);
                box-shadow: 5px 5px 60px 0 rgba($clr-black, 0.03);
                border-radius: 0.5rem;
                padding: 0.25rem;
            }
            &-i1 {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 1rem;
                & svg {
                    width: 30px;
                    height: 30px;
                }
            }
            &-i2 {
                display: grid;
                grid-template-rows: repeat(5, 1fr);
                gap: 1.5em;
                width: 100%;
                margin-bottom: 1.2rem;
                & > div {
                    padding: 0.2rem 0.5rem;
                    border-radius: 0.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 0.4rem;
                    text-transform: uppercase;
                    transition: 100ms ease-in-out ;
                    cursor:default;
                    &:hover {
                        transform: scale(3);
                        background-color: white;
                        outline: 1px solid $clr-gray;
                    }
                }
            }

            &--red {
                background-color: rgba($clr-red, 0.3);
            }
            &--green {
                background-color: rgba($clr-green, 0.3);
            }
            &--blue {
                background-color: rgba($clr-blue, 0.3);
            }
            &--yellow {
                background-color: rgba($clr-yellow, 0.3);
            }
            &--gold {
                background-color: rgba($clr-gold, 0.3);
            }
            &--silver {
                background-color: rgba($clr-silver, 0.3);
            }
            &--crystal {
                background-color: rgba($clr-crystal, 0.3);
            }
            &--ruby {
                background-color: rgba($clr-ruby, 0.3);
            }
            &--sapphire {
                background-color: rgba($clr-sapphire, 0.3);
            }
            &--emerald {
                background-color: rgba($clr-emerald, 0.3);
            }
            &--firered {
                background-color: rgba($clr-firered, 0.3);
            }
            &--leafgreen {
                background-color: rgba($clr-leafgreen, 0.3);
            }
            &--diamond {
                background-color: rgba($clr-diamond, 0.3);
            }
            &--pearl {
                background-color: rgba($clr-pearl, 0.3);
            }
            &--platinum {
                background-color: rgba($clr-platinum, 0.3);
            }
            &--heartgold {
                background-color: rgba($clr-heartgold, 0.3);
            }
            &--soulsilver {
                background-color: rgba($clr-soulsilver, 0.3);
            }
            &--black {
                background-color: rgba($clr-black, 0.3);
            }
            &--white {
                background-color: rgba($clr-white, 0.3);
            }
            &--black-2 {
                background-color: rgba($clr-black, 0.3);
            }
            &--white-2 {
                background-color: rgba($clr-white, 0.3);
            }
        }
    }
}
