.pokedex {
    @include Card;
    position: relative;
    background-color: white;
    
    &__hero {
        padding: 0 $padding;
    }
    &__hero h1 {
        position: absolute;
        top: 10px;
        left: 8rem;
    }
    &__hero div {
        position: relative;
    }
    &__hero p {
        font-size: 0.95rem;
        text-align: center;
    }
    &__hero input {
        width: 100%;
        height: 40px;
        outline: none;
        border: none;
        border: 2px solid transparent;
        font-family: monospace;
        color: inherit;
        font-size: 1rem;
        border-radius: 1.2rem;
        padding: 10px 35px 10px 10px;
        background-color: rgba(black, 0.05);
        &:focus {
            border: 2px solid rgba(black, 0.05);
            background-color: transparent;
        }
    }
    &__hero button {
        cursor: pointer;
        position: absolute;
        right: 5px;
        bottom: 5px;
        background-color: rgba(black, 0.05);
        border-radius: 50%;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            background-color: rgba(black, 0.2);
        }
    }
    &__hero__search {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 2rem;
    }
}

.pokedex__list > div {
    $gap: 2rem;
    display: grid;
    grid-template-columns: repeat(2, calc(200px - (1.5 * #{$gap})));
    gap: $gap;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}

.pokedex__list {
    overflow-y: auto;
    /* scrollbar hide */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    &::-webkit-scrollbar {
        /* WebKit */
        width: 0;
        height: 0;
    }
    margin-bottom: 1.6rem;
}

.pokedex__pokemon {
    aspect-ratio: 1;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    position: relative;
    transition: 300ms;
    &__img-c {
        height: 96px;
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(white, 0.3);
        border-radius: 50%;
        position: absolute;
        bottom: 5px;
        right: 5px;
    }
    &__img-i {
        height: 96px;
        width: 96px;
    }
    &__id {
        text-align: right;
        font-family: "Courier New", Courier, monospace;
        font-weight: 700;
        &:before {
            content: "#";
        }
        position: absolute;
        top: 45px;
        left: 10px;
        color: rgba(white, 0.75);
    }
    &__name {
        display: block;
        position: absolute;
        top: 20px;
        left: 10px;
        color: rgba(white, 0.75);
        font-weight: 700;
        font-size: 1.1rem;
    }
    cursor: pointer;
    &:hover {
        transform: scale(1.05);
    }
    &:nth-child(1) {
        margin-top: 1.5rem;
    }
    &:nth-child(2) {
        margin-top: 1.5rem;
    }
}

.bar {
    position: absolute;
    top: calc(60px + 62.4px);
    z-index: 2;
    width: 100%;
    min-height: 40px;
    background: white;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
}

.pokedex__like-status {
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 10px;
    color: rgba(white, 0.3);
}

.fav-checkbox {
    & input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    & div {
        position: relative;
        --width: 70px;
        --height: 40px;
        width: var(--width);
        height: var(--height);
        // border: 2px solid transparent;
        border-radius: 1.2rem;
        background-color: rgba(black, 0.05);
        cursor: pointer;
    }
    & div:before {
        content: "";
        width: 30px;
        height: 30px;
        background-color: rgba(black, 0.1);
        position: absolute;
        border-radius: 50%;
        top: calc((var(--height) - 30px) / 2);
        left: 5px;
        transition: left 150ms ease-in-out;
    }
    & div:hover:before {
        background-color: rgba(black, 0.2);
    }
    & input:checked ~ div:before {
        left: calc(var(--width) - 5px - 30px);
        background-color: rgb(79, 193, 166);
    }
}
