*,
*:after,
*:before {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #c8c8c8;
  line-height: 1.4;
  color: #4b4b4b;
}

svg {
  color: inherit;
}

button {
  text-decoration: none;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: inherit;
  font-family: inherit;
  font-style: inherit;
  padding: 0;
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pokemon-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 1rem;
  -webkit-box-shadow: 5px 5px 10px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 10px 4px rgba(0, 0, 0, 0.1);
  width: 25rem;
  height: 44.1rem;
  background-color: var(--bg-color);
}

.pokemon-card__nav {
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pokemon-card__nav * {
  width: 20px;
  color: inherit;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 300ms;
  transition: 300ms;
}

.pokemon-card__nav *:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.pokemon-card__hero {
  padding: 0 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.pokemon-card__hero__pokemon-id {
  text-align: right;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
}

.pokemon-card__hero__pokemon-id:before {
  content: "#";
}

.pokemon-card__hero__pokemon-types-c {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.5rem;
}

.pokemon-card__hero__pokemon-types-i {
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  background-color: rgba(255, 255, 255, 0.4);
  color: rgba(0, 0, 0, 0.6);
  padding: 0.3rem 1rem;
  border-radius: 0.8rem;
}

.pokemon-card__image-c {
  width: 100%;
  height: 11rem;
  position: relative;
}

.pokemon-card__image-c:before {
  content: "";
  height: 200px;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  border-radius: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.pokemon-card__image-i {
  width: calc(25rem * 0.6);
  left: 50%;
  bottom: -30%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
}

.pokemon-card__body {
  line-height: 2;
  font-size: var(--font-size);
  text-align: justify;
  height: 24rem;
  background-color: white;
  border-radius: 1rem;
  padding: 2rem;
}

.pokemon-card__body__nav {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pokemon-card__body__nav-i {
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  border-bottom: var(--underline);
}

.pokemon-card__body__nav-i:hover {
  border-bottom: solid 3px rgba(0, 0, 0, 0.1);
}

.pokemon-card__body__weight {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr 3fr;
      grid-template-columns: 1fr 3fr 1fr 3fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
  margin: 1rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.pokemon-card__body__weight p:first-of-type {
  color: #a0a0a0;
  font-size: 0.8rem;
}

.pokemon-card__body__weight svg {
  margin-right: -2rem;
}

.pokemon-card__body__stats {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.pokemon-card__body__stat {
  padding: 0.6rem 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
  background-color: var(--bg-color);
  border-radius: 0.5rem;
}

.pokemon-card__body__stat--total {
  grid-column: span 2;
  text-align: right;
  display: block;
  padding: 0 0.5rem;
  font-weight: 700;
}

.pokemon-card__body__stat p:nth-of-type(2) {
  font-weight: 700;
}

.pokemon-card__body__evolutions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1.5rem;
  gap: 1rem;
}

.pokemon-card__body__evolution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 0.5rem;
}

.pokemon-card__body__evolution svg {
  width: 40px;
  color: rgba(0, 0, 0, 0.1);
}

.pokemon-card__body__evolution__pokemon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 300ms;
  transition: 300ms;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
}

.pokemon-card__body__evolution__pokemon p {
  margin-top: -1rem;
}

.pokemon-card__body__evolution__pokemon:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.pokemon-card__body__evolution__pokemon__img-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  width: 100px;
}

.pokemon-card__body__evolution__pokemon__img-i {
  height: 70px;
  width: 70px;
}

.pokemon-card__body__evolution div:nth-of-type(2) p {
  margin-top: 0;
  margin-bottom: -1rem;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 700;
}

.pokemon-card__body__gen {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (63px)[5];
      grid-template-columns: repeat(5, 63px);
  gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pokemon-card__body__gen-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 5px 5px 60px 0 rgba(20, 20, 20, 0.03);
          box-shadow: 5px 5px 60px 0 rgba(20, 20, 20, 0.03);
  border-radius: 0.5rem;
  padding: 0.25rem;
}

.pokemon-card__body__gen-i1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.pokemon-card__body__gen-i1 svg {
  width: 30px;
  height: 30px;
}

.pokemon-card__body__gen-i2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  gap: 1.5em;
  width: 100%;
  margin-bottom: 1.2rem;
}

.pokemon-card__body__gen-i2 > div {
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.4rem;
  text-transform: uppercase;
  -webkit-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
  cursor: default;
}

.pokemon-card__body__gen-i2 > div:hover {
  -webkit-transform: scale(3);
          transform: scale(3);
  background-color: white;
  outline: 1px solid #a0a0a0;
}

.pokemon-card__body__gen--red {
  background-color: rgba(247, 120, 107, 0.3);
}

.pokemon-card__body__gen--green {
  background-color: rgba(79, 193, 166, 0.3);
}

.pokemon-card__body__gen--blue {
  background-color: rgba(88, 170, 246, 0.3);
}

.pokemon-card__body__gen--yellow {
  background-color: rgba(255, 206, 75, 0.3);
}

.pokemon-card__body__gen--gold {
  background-color: rgba(165, 124, 0, 0.3);
}

.pokemon-card__body__gen--silver {
  background-color: rgba(192, 192, 192, 0.3);
}

.pokemon-card__body__gen--crystal {
  background-color: rgba(136, 157, 214, 0.3);
}

.pokemon-card__body__gen--ruby {
  background-color: rgba(224, 17, 95, 0.3);
}

.pokemon-card__body__gen--sapphire {
  background-color: rgba(15, 82, 186, 0.3);
}

.pokemon-card__body__gen--emerald {
  background-color: rgba(80, 200, 120, 0.3);
}

.pokemon-card__body__gen--firered {
  background-color: rgba(241, 80, 38, 0.3);
}

.pokemon-card__body__gen--leafgreen {
  background-color: rgba(166, 204, 59, 0.3);
}

.pokemon-card__body__gen--diamond {
  background-color: rgba(68, 144, 157, 0.3);
}

.pokemon-card__body__gen--pearl {
  background-color: rgba(142, 87, 142, 0.3);
}

.pokemon-card__body__gen--platinum {
  background-color: rgba(229, 228, 226, 0.3);
}

.pokemon-card__body__gen--heartgold {
  background-color: rgba(254, 221, 81, 0.3);
}

.pokemon-card__body__gen--soulsilver {
  background-color: rgba(192, 192, 192, 0.3);
}

.pokemon-card__body__gen--black {
  background-color: rgba(20, 20, 20, 0.3);
}

.pokemon-card__body__gen--white {
  background-color: rgba(240, 240, 240, 0.3);
}

.pokemon-card__body__gen--black-2 {
  background-color: rgba(20, 20, 20, 0.3);
}

.pokemon-card__body__gen--white-2 {
  background-color: rgba(240, 240, 240, 0.3);
}

.pokedex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 1rem;
  -webkit-box-shadow: 5px 5px 10px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 10px 4px rgba(0, 0, 0, 0.1);
  width: 25rem;
  height: 44.1rem;
  position: relative;
  background-color: white;
}

.pokedex__nav {
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pokedex__nav * {
  width: 20px;
  color: inherit;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 300ms;
  transition: 300ms;
}

.pokedex__nav *:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.pokedex__hero {
  padding: 0 2rem;
}

.pokedex__hero h1 {
  position: absolute;
  top: 10px;
  left: 8rem;
}

.pokedex__hero div {
  position: relative;
}

.pokedex__hero p {
  font-size: 0.95rem;
  text-align: center;
}

.pokedex__hero input {
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  border: 2px solid transparent;
  font-family: monospace;
  color: inherit;
  font-size: 1rem;
  border-radius: 1.2rem;
  padding: 10px 35px 10px 10px;
  background-color: rgba(0, 0, 0, 0.05);
}

.pokedex__hero input:focus {
  border: 2px solid rgba(0, 0, 0, 0.05);
  background-color: transparent;
}

.pokedex__hero button {
  cursor: pointer;
  position: absolute;
  right: 5px;
  bottom: 5px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pokedex__hero button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.pokedex__hero__search {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  gap: 2rem;
}

.pokedex__list > div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (calc(200px - (1.5 * 2rem)))[2];
      grid-template-columns: repeat(2, calc(200px - (1.5 * 2rem)));
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1rem;
}

.pokedex__list {
  overflow-y: auto;
  /* scrollbar hide */
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  margin-bottom: 1.6rem;
}

.pokedex__list::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.pokedex__pokemon {
  aspect-ratio: 1;
  background-color: var(--bg-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1rem;
  position: relative;
  -webkit-transition: 300ms;
  transition: 300ms;
  cursor: pointer;
}

.pokedex__pokemon__img-c {
  height: 96px;
  aspect-ratio: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.pokedex__pokemon__img-i {
  height: 96px;
  width: 96px;
}

.pokedex__pokemon__id {
  text-align: right;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  position: absolute;
  top: 45px;
  left: 10px;
  color: rgba(255, 255, 255, 0.75);
}

.pokedex__pokemon__id:before {
  content: "#";
}

.pokedex__pokemon__name {
  display: block;
  position: absolute;
  top: 20px;
  left: 10px;
  color: rgba(255, 255, 255, 0.75);
  font-weight: 700;
  font-size: 1.1rem;
}

.pokedex__pokemon:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.pokedex__pokemon:nth-child(1) {
  margin-top: 1.5rem;
}

.pokedex__pokemon:nth-child(2) {
  margin-top: 1.5rem;
}

.bar {
  position: absolute;
  top: calc(60px + 62.4px);
  z-index: 2;
  width: 100%;
  min-height: 40px;
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(50%, white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, white 0%, white 50%, rgba(255, 255, 255, 0) 100%);
}

.pokedex__like-status {
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 10px;
  color: rgba(255, 255, 255, 0.3);
}

.fav-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.fav-checkbox div {
  position: relative;
  --width: 70px;
  --height: 40px;
  width: var(--width);
  height: var(--height);
  border-radius: 1.2rem;
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.fav-checkbox div:before {
  content: "";
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  border-radius: 50%;
  top: calc((var(--height) - 30px) / 2);
  left: 5px;
  -webkit-transition: left 150ms ease-in-out;
  transition: left 150ms ease-in-out;
}

.fav-checkbox div:hover:before {
  background-color: rgba(0, 0, 0, 0.2);
}

.fav-checkbox input:checked ~ div:before {
  left: calc(var(--width) - 5px - 30px);
  background-color: #4fc1a6;
}
/*# sourceMappingURL=index.css.map */